<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #myform{
            display: none;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Your total amount to Paid is Rs. 1500</h2>
    <h3 style="text-align: center;">You will be soon redirected to the Esewa Payment page.</h3>
    <form action="https://uat.esewa.com.np/epay/main" method="POST" id="myform">
    <input value="1500" name="tAmt" type="hidden">
    <input value="1500" name="amt" type="hidden">
    <input value="0" name="txAmt" type="hidden">
    <input value="0" name="psc" type="hidden">
    <input value="0" name="pdc" type="hidden">
    <input value="EPAYTEST" name="scd" type="hidden">
    <input value="booking_{{booking.id}}" name="pid" type="hidden">
    <input value="http://127.0.0.1:8000/bookings/esewa-verify/" type="hidden" name="su">
    <input value="{{request.build_absolute_uri}}" type="hidden" name="fu">
    <input value="Submit" type="submit">
    </form>
    <script>
        setTimeout(function(){
            document.getElementById("myform").submit()
        }, 5000)
    </script>
</body>
</html>