{% extends 'main_admin.html' %}
{% load static %}

{% block title %}
    Manage Bookings
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){
            $("#listtable").DataTable();
        })
    </script>
{% endblock %}

{% block label %}
    Bookings
{% endblock%}

{% block content %}
<table class="table table-bordered" id="listtable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Payment Method</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bookings in booking_list %}
            <tr>
                <td>{{ bookings.user }}</td>
                <td>{{ bookings.date }}</td>
                <td>{{ bookings.dates.timesheet }}</td>
                <td>{{ bookings.payment_method }}</td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a
                        href="">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}